/* body{
    background-color: #DEE9F6;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 140px;
} */

#products-title{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Lao MN';
    font-size: 50px;
    color: #707070;
}